*{

    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
      
}

#icon {
    width:60%;
    padding: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

#formContent  {

    background: #fff;
    padding: 20px;
    max-width: 600px;
    position: relative;
    text-align: left;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.3);
       
}

#divHeader {
    max-width: 600px;
    padding: 30px;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.3);
}



.loginButton {
    background-color: #0D4193;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    width: 40%;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 8px ;
    
}
  
.loginButton:hover {
    background-color: #4872b6;
}

.archivos {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }

    label[for="documento"] ,label[for="desprendibleNomina"],label[for="cartaLaboral"]{
       
    
        color:black;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        padding: 15px 40px !important;  
        width: fit-content;
        text-align: center;


    }

    div [class="form-col"] {

     width: 33%;
    }
