<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Solicitud de Crédito</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Valor y Tipo de Entrega</label><br>
        </div>

        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col mr-5 ">
                <label class="form-check-label">!Estas muy cerca de ser parte de <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="registrar()">

                <div class="form-row">

                    <div class="form-col mr-5  w-50" style="font-size:16px;">
                        <label class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2">Valor
                            Solicitado</label>
                    </div>
                    <div class="form-col mr-2   w-25">
                        <input type="number" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="valorSolicitado" name="valorSolicitado" placeholder="0" [(ngModel)]="entrega.valorSolicitado" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <label class="form-control   border-top-0  border-left-0  border-right-0 border-primary">Plazo</label>
                    </div>

                    <div class="form-col  ">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " id="plazo" name="plazo" placeholder="Plazo" [(ngModel)]="entrega.plazo" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col ">

                        <label class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2 ">Cedula
                            de ciudadania</label>
                    </div>
                    <div class="form-col  ">

                        <span class="archivos"> <input type="file" (change)="onFileChange($event)" name="documento"
                                id="documento" /></span>

                        <label for="documento"><img src="../../../assets/img/linkDescarga.png" width="25" height="25"
                                alt=""><span class="ml-3">Upload</span></label>
                    </div>

                    <div *ngIf="isUpdate" class="form-col  ">

                        <button class="btn btn-success" (click)="descargarDocumento()">descargar</button>
                    </div>
                </div>


                <div class="form-row">

                    <div class="form-col">
                        <label class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2">Desprendibles
                            Nomina</label>
                    </div>

                    <div class="form-col ">
                        <span class="archivos"> <input type="file" (change)="onFileChange2($event)"
                                name="desprendibleNomina" id="desprendibleNomina" /></span>

                        <label for="desprendibleNomina"><img src="../../../assets/img/linkDescarga.png" width="25"
                                height="25" alt=""><span class="ml-3">Upload</span></label>

                    </div>

                    <div *ngIf="isUpdate" class="form-col  ">

                        <button class="btn btn-success" (click)="descargarDesprendible()">descargar</button>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-col">
                        <label class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2">Carta
                            Laboral</label>
                    </div>

                    <div class="form-col">
                        <span class="archivos"> <input type="file" (change)="onFileChange3($event)" name="cartaLaboral"
                                id="cartaLaboral" /></span>

                        <label for="cartaLaboral"><img src="../../../assets/img/linkDescarga.png" width="25" height="25"
                                alt=""><span class="ml-3">Upload</span></label>
                    </div>

                    <div *ngIf="isUpdate" class="form-col ">

                        <button class="btn btn-success" (click)="descargarCartaLaboral('cartaLaboral.pdf')">descargar</button>
                    </div>
                </div>



                <div class="form-row">

                    <button type="submit" class="loginButton font-weight-bold  mr-3 w-25" style="float:right;" [disabled]="!f.valid">Continuar</button>

                </div>


            </form>
        </div>


    </div>
</div>