<div class="row justify-content-left mt-5 ml-2" >
    <div class="col-10  h-100">
      <div >
        <img 
            src="../assets/img/imagen Promocional.bmp" class="d-block w-100 h-100" alt="...">
        
      </div>
    </div>
  </div>
