*{

    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
      
}

#icon {
    width:60%;
    padding: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

#formContent , #formContent2, #formModal {

    background: orange;
    padding: 20px;
    max-width: 300px;
    height: 200px;
  border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.3);
       
}

#divHeader {
    max-width: 800px;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.3);
}



.loginButton {
    background-color: white;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    width: 40%;
 
    
}
  
.loginButton:hover {
    background-color: #4872b6;
}


