<div *ngIf="isLogin" class="container ml-0">
    <div   class="wrapper fadeInDown ">


        <div class="form-row p-25 w-100 mt-5" id="divHeader">
            <div *ngIf="isValidSolicitudCredito" class="form-col ">
                <label class="form-check-label align-text-middle mr-5">Número de Solicitud</label>
                <span class=" font-weight-bold text-secondary">{{solicitudCredito.numeroSolicitud}} </span>
                <button class="btn btn-primary ml-5" (click)="generateReportPDF()">Imprimir</button>
            </div>


        </div>

        <div class="form-row p-25 w-100 mt-5" id="divHeader">
            <div class="form-col ">

            </div>


        </div>

        <div class="form-row  w-100 mt-2  mb-2 " id="formContent">


            <div class="form-col mt-3 w-100 mb-5">

                <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                <label class="form-check-label align-text-middle  mb-4 ml-3">solicitud radicada</label><br>

                <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                <label class="form-check-label align-text-middle mb-4  ml-3">Validacion informacion</label><br>

                <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                <label class="form-check-label align-text-middle mb-4  ml-3"><strong>Aprobacion
                        director</strong></label><br>

                <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                <label class="form-check-label align-text-middle mb-4  ml-3">Entrega de dinero</label><br>
                <div class="form-col mr-5 credito ">
                    <button [disabled]="!isValidSolicitudCredito" (click)="goToEntrega()" class="btn btn-primary">Continuar</button>
                </div>

            </div>


        </div>


    </div>
</div>