<nav
  class="navbar navbar-expand-md navbar-dark navbar-custom p-0  w-100 mt-0 mb-2 border-top-0  border-left-0  border-right-0 border border-secondary "
  [ngClass]="{'inicioSesion': !isHome}">


  <a href="/inicio"><img src="../assets/img/logo.bmp" width="100%" height="116"
      style="border-top-right-radius:40px;border-bottom-right-radius:40px;" alt="logoCreo"></a>




  <span *ngIf="isLogin" style="font-size: 20px;" class="text-white ml-5">Hola, <strong>{{currentUser}}</strong></span>

  <div class="spacer"></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank" rel="noopener"
        href="https://www.youtube.com/user/GrupoBancolombia" title="YouTube">

        <img src="../../../assets/img/iconYouTube.png" alt="Twitter" class="social-icon" height="40">
      </a>

      <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank" rel="noopener"
        href="https://www.facebook.com/Nadal" title="Facebook">

        <img src="../../../assets/img/Iconfacebook.png" alt="Twitter" class="social-icon" height="40">
      </a>

      <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank" rel="noopener"
        href="https://twitter.com/RafaelNadal" title="Twitter">

        <img src="../../../assets/img/iconTwiter.png" alt="Twitter" class="social-icon"
          height="40">
      </a>

      <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank" rel="noopener"
        href="https://www.instagram.com/rafaelnadal/?hl=es-la" title="Instagram">

        <img src="../../../assets/img/IconInstagram.png" alt="Twitter" class="social-icon" height="40">
      </a>



      <img *ngIf="!isHome && !isLogin" class="mt-2" src="../assets/img/logo2.png" alt="logoCreo" width="80" height="80">

      <div *ngIf="!isHome && !isLogin" class="form-group align-text-middle mt-4 ml-3">
        <label class="form-check-label align-text-middle  font-weight-bold text-white"
          style="font-size: 20px;"><strong>¡ Crédito oportuno !</strong></label><br>
        <label class="form-check-label align-text-middle  text-white" style="font-size: 20px;">Te ayudamos a cumplir tus
          metas</label><br>
      </div>

      <div *ngIf="isLogin" class="form-group align-text-middle mt-1 ml-3">
        <img class=" d-block  rounded-circle mx-auto" src="../assets/img/pagar.png" alt="logoCreo" width="70"
          height="70">
        <label class="form-check-label text-center  text-white " style="font-size: 20px;"> Pagar</label><br>
      </div>

      <div *ngIf="isLogin" class="form-group align-text-middle mt-1 ml-4 mr-4">
        <img (click)="solicitarCredito()" class="d-block mx-auto" src="../assets/img/solicitar Credito.png"
          alt="logoCreo" width="70" height="70">
        <label class="form-check-label text-center  text-white" style="font-size: 20px;">Solicitar Crédito</label><br>
      </div>

      <div *ngIf="isLogin" class="form-group align-text-middle mt-1 ">
        <img (click)="estadoSolicitud()" class="d-block mx-auto" src="../assets/img/estado Solicitud.png" alt="logoCreo"
          width="70" height="70">
        <label class="form-check-label text-center  text-white mr-2" style="font-size: 20px;">Estado
          solicitud</label><br>
      </div>


      <li class="nav-item dropdown mr-4 ml-5 ">

        <div *ngIf="isHome && !isLogin" class="form-group align-text-middle mt-4 ml-3">

          <a class="nav-link rounded-lg text-white mb-2 mt-4  inicioSesion" (click)="ingresar()" style="cursor: pointer"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ingresar
          </a>

          <label class="mr-3">¿Cliente nuevo? </label>
          <a (click)="registrar()" class="text-dark" routerLink="/">Regístrate aquí</a>

        </div>
        <div class="form-group align-text-middle mt-4 ml-3 w-100">
          <a *ngIf="isLogin" class="nav-link rounded-lg text-white inicioSesion" style="cursor: pointer;font-size:16px;"
            (click)="logOut()" routerLink="/">Cerrar sesión</a>

        </div>



      </li>

    </ul>
  </div>


</nav>