.spacer {
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu a {
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #BDBDBD;
    min-width: 70px;
    box-shadow: 5px 5px 5px 5px;
    z-index: 1;
    top: 0;
    left: -999em;
    transition: top .5s ease;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a:hover,
.dropdown-content li:hover>a {
    background-color: #f1f1f1;
}

.dropdown:hover>.dropdown-content {
    left: 0;
    top: 100%;
}

.dropdown .dropdown>.dropdown-content {
    transition: transform .5s ease, opacity .3s ease;
    transform: translateX(-100%);
    opacity: 0;
}

.dropdown .dropdown:hover>.dropdown-content {
    left: 100%;
    transform: translateX(0);
    top: 0;
    opacity: 1;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.inicioSesion {
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    border-radius: 8px;
    background-color: #0D4193;
}

a {
    font-family: "DIN Next Rounded LT Pro Light", sans-serif;
}

.navbar-custom {
    background-color: white;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}


/* change the link color and add padding for height */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: rgb(7, 45, 107);
    /* add background-color to active links */
}

#logOut .badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background: #16b1a9;
    color: white;
}

.inicioSesion {
    background-color: #0D4193;
}