<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">



        <div class="form-row  p-25 w-100   ">

            <div class="form-col   p-25 bg-light  border border-secondary  ">

                <button class="btn btn-success"
                            (click)="listarSolicitudes()">ver solicitudes</button>
                <label class="form-check-label d-block">#{{numeroSolicitud}}</label>
                <label class="form-check-label d-block">Numero de solicitud </label>
                <label class="form-check-label d-block">Monto {{entrega.valorSolicitado}}</label>
                <label class="form-check-label d-block">Estado </label>
                <a routerLink="/solicitudDeCredito/entrega/{{numeroSolicitud}}" class="mt-3 text-center">Ver detalle</a>
            </div>

        </div>
    </div>
</div>