<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Solicitud de Crédito</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Referencias personales y familiares</label><br>
        </div>


        <div style="width: 850px;">
            <app-update-tabs *ngIf="isUpdate"></app-update-tabs>
        </div>



        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col mr-5 ">
                <label class="form-check-label">!Estas muy cerca de ser parte de <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="adjuntar()">

                <div class="form-row">

                    <div class="form-col mr-5 col-5" style="font-size:16px;">

                        <select class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="tipoIdentificacion" name="tipoIdentificacion" title="Tipo de Documento"
                            [(ngModel)]="reference.tipoIdentificacion" required>

                            <option *ngFor="let tipoDeDocumento of tiposDeDocumento" value="{{tipoDeDocumento}}">
                                {{tipoDeDocumento}}

                            </option>
                        </select>

                    </div>
                    <div class="form-col mr-2 col-5">
                        <input type="text"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            id="identificacion" name="identificacion" placeholder="Numero de documento"
                            [(ngModel)]="reference.identificacion" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5  col-5">
                        <input type="text"
                            class="form-control   border-top-0  border-left-0  border-right-0 border-primary  "
                            id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="reference.nombre" required>
                    </div>

                    <div class="form-col  col-5">
                        <input type="text"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary "
                            id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="reference.apellidos"
                            required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 col-5">
                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="empresa" name="empresa" placeholder="Empresa donde trabaja"
                            [(ngModel)]="reference.empresa" required>
                    </div>
                    <div class="form-col col-5">
                        <input type="text"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="telefono" name="telefono" placeholder="Teléfono" [(ngModel)]="reference.telefono"
                            required>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-col mr-5  col-5" style="font-size:16px;">

                        <select class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="tipoReferencia" name="tipoReferencia" placeholder="Tipo de referencia"
                            [(ngModel)]="reference.tipoReferencia" required>

                            <option *ngFor="let tipoDeReferencia of tiposDeReferencia" value="{{tipoDeReferencia}}">
                                {{tipoDeReferencia}}</option>
                        </select>

                    </div>



                </div>


                <div class="form-row mt-3 mb-3">


                    <button type="submit" style="float:right;" class="loginButton font-weight-bold  mr-3 w-25"
                        style="float:right;" [disabled]="!f.valid">Adjuntar</button>

                    <div *ngIf="isError" class="form-col  alert alert-danger mt-3">
                        {{ errorMsg }}
                    </div>

                </div>


            </form>

            <table class="table table-striped table-white mb-3">

                <thead class="bg-primary text-white text-center">
                    <tr>
                        <th scope="col">Editar</th>
                        <th scope="col">Tipo ref.</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Telefono</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reference of references" class="text-center">
                        <td>
                            <button (click)="getCurrentReference(user.id,reference.identificacion)" data-toggle="modal"
                                data-target="#createModal" class="btn btn-primary">Actualizar</button><br />

                        </td>
                        <th scope="row">{{reference.tipoReferencia}}</th>
                        <td>{{reference.tipoIdentificacion}}</td>
                        <td>{{reference.identificacion}}</td>
                        <td>{{reference.nombre}}</td>
                        <td>{{reference.apellidos}}</td>
                        <td>{{reference.empresa}}</td>
                        <td>{{reference.telefono}}</td>



                    </tr>
                </tbody>
            </table>

            <div class="form-row">

                <button (click)="continuar()" style="float:right;" type="submit"
                    class="loginButton font-weight-bold  mr-3 w-25" style="float:right;">Continuar</button>

            </div>

        </div>


    </div>
</div>

<!-- Modal to edit-->
<div #createModal class="modal fade " id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal"
    aria-hidden="true">
    <div id="formModal" class="modal-dialog  w-100" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">!Estas muy cerca de ser parte de <strong>CREO</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="form" #f="ngForm" novalidate (ngSubmit)="onUpdate(referenceForm)">

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="tipoIdentificacion" name="tipoIdentificacion" placeholder="Tipo de Documento"
                            [(ngModel)]="referenceForm.tipoIdentificacion" required>
                    </div>
                    <div class="form-col mr-2 ">
                        <input type="text"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            id="identificacion" name="identificacion" placeholder="Numero de documento"
                            [(ngModel)]="referenceForm.identificacion" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text"
                            class="form-control   border-top-0  border-left-0  border-right-0 border-primary  "
                            id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="referenceForm.nombre" required>
                    </div>

                    <div class="form-col  ">
                        <input type="text"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary "
                            id="apellidos" name="apellidos" placeholder="Apellidos"
                            [(ngModel)]="referenceForm.apellidos" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="empresa" name="empresa" placeholder="Empresa donde trabaja"
                            [(ngModel)]="referenceForm.empresa" required>
                    </div>
                    <div class="form-col ">
                        <input type="text"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="telefono" name="telefono" placeholder="Teléfono" [(ngModel)]="referenceForm.telefono"
                            required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2"
                            id="ingreso" name="ingreso" placeholder="Ingreso" [(ngModel)]="referenceForm.tipoReferencia"
                            required>
                    </div>


                </div>


                <div class="form-row">

                    <button type="submit" class="loginButton font-weight-bold  mr-3 w-25" style="float:right;"
                        [disabled]="!f.valid">Continuar</button>

                </div>


            </form>
        </div>
    </div>
</div>