<div class="container mt-5">
    <div class="row justify-content-center">
        <div class=" col-8  wrapper fadeInDown">
            <div id="formContent ">

                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="validatePassword()">

                    <div class="form-group">
                        <label>Usuario Oficina Virtual</label>
                    </div>

                    <div class="form-group">
                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary"
                            id="username" name="username" #username="ngModel" placeholder="Nombre de Usuario"
                            [(ngModel)]="userForm.username" required minlength="7">


                    </div>

                    <div class="form-group">

                        <input type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,}$"
                            class=" border-top-0  border-left-0  border-right-0 border-primary mr-3" id="password"
                            name="password" #password="ngModel" placeholder="Contraseña" [(ngModel)]="userForm.password"
                            required minlength="8">


                        <svg (click)="mostrarPassword1()" width="40px" height="40px" viewBox="0 0 16 16"
                            class="bi bi-eye-fill d-inline " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>


                    </div>

                    <div class="form-group">
                        <input type="password"
                            class=" border-top-0  border-left-0  border-right-0 border-primary d-inline mr-3"
                            id="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña"
                            [(ngModel)]="confirmPassword" required>
                        <svg (click)="mostrarPassword2()" width="40px" height="40px" viewBox="0 0 16 16"
                            class="bi bi-eye-fill d-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>



                    </div>

                    <div class="form-group">
                        <button type="submit" class="loginButton font-weight-bold w-75"
                            [disabled]="!f.valid">Registrarse</button>
                    </div>
                    <div *ngIf="f.submitted && errorMsg !== ''  " class="alert alert-danger mt-3"> {{ errorMsg }}</div>

                </form>
            </div>
        </div>

        <div class=" col-3  fadeInDown ">

            <div *ngIf="!usernameIsEmpty()">
                <div class="alert alert-success mt-5">
                    Validaciones de usuario
                </div>

                <div *ngIf="username.valid && (username.dirty || username.touched)">
                    <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                    <label class="ml-3" for=""><strong>7 + </strong>caracteres</label>
                </div>

                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <img src="../../../assets/img/checkError.jpg" width="50px" height="50px" class="d-inline"
                        alt="checked"> <label class="ml-3" for=""><strong>7 + </strong>caracteres</label>
                </div>

            </div>




            <div *ngIf="!passwordIsEmpty()">

                <div class="alert alert-success mt-5">
                    Validaciones de la contraseña
                </div>


                <div *ngIf="mayuscula()">

                    <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                    <label class="ml-3" for=""><strong>1 + </strong>mayuscula</label>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched) && !mayuscula()">
                    <img src="../../../assets/img/checkError.jpg" width="50px" height="50px" class="d-inline"
                        alt="checked"> <label class="ml-3" for=""><strong>1 + </strong>mayuscula</label>
                </div>

            </div>





            <div *ngIf="!passwordIsEmpty()">

                <div *ngIf="minuscula()">
                    <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                    <label class="ml-3" for=""><strong>1 + </strong>minúscula</label>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched) && !minuscula()">
                    <img src="../../../assets/img/checkError.jpg" width="50px" height="50px" class="d-inline"
                        alt="checked"> <label class="ml-3" for=""><strong>1 + </strong>minúscula</label>
                </div>


            </div>




            <div *ngIf="!passwordIsEmpty()">


                <div *ngIf="numero()">
                    <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                    <label class="ml-3" for=""><strong>1 + </strong>número</label>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched) && !numero()">
                    <img src="../../../assets/img/checkError.jpg" width="50px" height="50px" class="d-inline"
                        alt="checked"> <label class="ml-3" for=""><strong>1 + </strong>número</label>
                </div>

            </div>




            <div *ngIf="!passwordIsEmpty()">


                <div *ngIf="passwordLength()">
                    <img src="../../../assets/img/check.png" width="50px" height="50px" class="d-inline" alt="checked">
                    <label class="ml-3" for=""><strong>8 + </strong>caracteres</label>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched) && !passwordLength()">
                    <img src="../../../assets/img/checkError.jpg" width="50px" height="50px" class="d-inline"
                        alt="checked"> <label class="ml-3" for=""><strong>8 + </strong>caracteres</label>
                </div>

            </div>

        </div>
    </div>
</div>