<div class="form-row    w-100" id="divHeader">

    <div class="form-col mr-1 ml-1 ">
        <button type="submit" class="btn btn-primary font-weight-bold  mr-3 w-100"
            [ngClass]="{' btn-secondary': isPersonalData}" style="float:right;">Dat
            Personales</button>
    </div>
    <div class="form-col mr-1 ">
        <button type="submit" class="btn btn-primary  font-weight-bold  mr-3 w-100"
            [ngClass]="{' btn-secondary': isWorkingInformation}" style="float:right;">Inf
            Laboral</button>
    </div>
    <div class="form-col mr-1 ">
        <button type="submit" class="btn btn-primary  font-weight-bold  mr-3 w-100"
            [ngClass]="{' btn-secondary': isReferences}" style="float:right;">Referencias</button>
    </div>

    <div class="form-col mr-1 ">
        <button type="submit" class="btn btn-primary  font-weight-bold  mr-3 w-100"
            [ngClass]="{' btn-secondary': isCodebtors}" style="float:right;">Codeudores</button>
    </div>


</div>