<div class="container mt-5">

    <div class="row justify-content-center">
        <div *ngIf="validation.mensaje !== 'debes ingresar' " class=" col-6  wrapper fadeInDown">
            <div id="formContent1 ">

                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="validarUsuario()">

                    <div class="form-group">
                        <label class="mt-3 mb-4">Bienvenido a Crédito oportuno</label><br>
                        <label class="font-weight-bold" style="font-size: 16px;">Ingresa tu número de
                            identificación.</label><br />
                        <label>Así podemos saber si debes ingresar o registrarte.</label>

                    </div>

                    <div class="form-group">

                        <input type="text"
                            class="form-control border-top-0  border-left-0  border-right-0 border-primary w-75"
                            id="tipoIdentificacion" name="tipoIdentificacion" #tipoIdentificacion="ngModel"
                            placeholder="Cedula de ciudadania" [(ngModel)]="personalData.tipoIdentificacion" required>

                        <div *ngIf="(tipoIdentificacion.invalid && (tipoIdentificacion.dirty || tipoIdentificacion.touched))"
                            class="alert alert-danger">
                            campo requerido
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary w-75"
                            id="identificacion" name="identificacion" #identificacion="ngModel"
                            placeholder="Numero de identificacion" [(ngModel)]="personalData.identificacion" required>

                        <div *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)"
                            class="alert alert-danger">
                            campo requerido
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="loginButton font-weight-bold w-75"
                            [disabled]="!f.valid">Continuar</button>
                    </div>

                </form>
            </div>
        </div>

        <div *ngIf="validation.mensaje !== 'debes ingresar' " class=" col-5 fadeInDown mt-1">


            <img src="../../../assets/img/ImagenAutenticacion.jpg" alt="autenticacion de usuario" width="300"
                height="300" />


            <label class="mt-5 text-center" style="font-size: 16px;"><strong>¡Tu Oficina Virtual:</strong> haz pagos,
                crédito oportuno, consultas y mucho más!</label>

        </div>

        <div *ngIf="validation.mensaje == 'debes ingresar' && validation.codigoVerificacion == ''  "
            class=" col-6  wrapper fadeInDown">
            <div id="formContent2 ">

                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="validNumberPhone()">


                    <div class="form-group">

                        <label class="font-weight-bold" style="font-size: 16px;">Ingrese numero de celular</label><br />
                        <input type="text"
                            class="form-control border-top-0  border-left-0  border-right-0 border-primary"
                            id="telefonoFijo" name="telefonoFijo" #telefonoFijo="ngModel"
                            placeholder="Ingrese numero de celular" [(ngModel)]="personalData.telefonoFijo" required>


                        <div *ngIf="(telefonoFijo.invalid && (telefonoFijo.dirty || telefonoFijo.touched))"
                            class="alert alert-danger">
                            campo requerido
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" style="font-size: 16px;">Ingrese cuenta de correo</label><br />
                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary" id="correo"
                            name="correo" #correo="ngModel" placeholder="Ingrese cuenta de correo"
                            [(ngModel)]="personalData.correo" required>

                        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger">
                            campo requerido
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="loginButton font-weight-bold w-75"
                            [disabled]="!f.valid">Continuar</button>
                    </div>

                </form>
            </div>
        </div>



        <div *ngIf="validation.codigoVerificacion !== '' " class=" col-6  wrapper fadeInDown">
            <div id="formContent3 ">

                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="validarCodigo()">


                    <div class="form-group">

                        <label class="font-weight-bold" style="font-size: 16px;">Ingresa el código de verificación a tu
                            cel</label><br />


                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary"
                            id="codigoVerificacion" name="codigoVerificacion" #codigoVerificacion="ngModel"
                            placeholder="codigo Verificacion" [(ngModel)]="validationForm.codigoVerificacion" required>

                        <div *ngIf="codigoVerificacion.invalid && (codigoVerificacion.dirty || codigoVerificacion.touched)"
                            class="alert alert-danger">
                            campo requerido
                        </div>


                    </div>




                    <div class="form-group">
                        <button type="submit" class="loginButton font-weight-bold w-75"
                            [disabled]="!f.valid">Continuar</button>
                    </div>

                </form>
            </div>
        </div>



        <div *ngIf="errorMsg !== '' " class=" col-3  fadeInDown ">

            <div class="alert alert-success mt-5">
                {{ errorMsg }}
            </div>


        </div>
    </div>

</div>