*{

    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
      
}

#icon {
    width:60%;
    padding: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 550px;
    position: relative;
    text-align: left;
       
}



.loginButton {
    background-color: #0D4193;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 8px ;
    
}
  
.loginButton:hover {
    background-color: #4872b6;
}