<app-header></app-header>

<!-- <div class="content" role="main">{{title}} app is running!</div> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>




<router-outlet></router-outlet>


<!--
<footer class="p1  bg-primary p-0">


    <div class="bg-warning p-0 align-text-middle">

        <div class="   bg-secondary mr-1 p-3 d-inline w-100">

            dd
        </div>

        <div class="   bg-secondary mr-1 p-3 d-inline w-100" style="width: 100%;">
            <label class="align-text-middle text-center">Zona administrativa</label>
        </div>

        <div class="  bg-secondary mr-1 p-3 d-inline w-50">
            <label class="align-text-middle text-center">Contáctanos</label>
        </div>

        <div class="  bg-secondary mr-1 p-3 d-inline w-50">
            <label class="align-text-middle text-center">Preguntas frecuentes</label>
        </div>

        <div class="  bg-secondary mr-1 p-3 d-inline w-50">
            <label class="align-text-middle text-center">Trabaja con nosotros</label>
        </div>

    </div>



</footer> -->