<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Solicitud de Crédito</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Informacion Laboral</label><br>
        </div>

        <div style="width: 600px;">
            <app-update-tabs *ngIf="isUpdate"></app-update-tabs>
        </div>

        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col mr-5 ">
                <label class="form-check-label">!Estas muy cerca de ser parte de <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="registrar()">

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">

                        <select class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="tipoTrabajador" name="tipoTrabajador" title="Tipo de Trabajador" [(ngModel)]="workingInformation.tipoTrabajador" required>

                            <option *ngFor="let tipoTrabajador of tipoTrabajadores" value="{{tipoTrabajador}}">
                                {{tipoTrabajador}}</option>

                        </select>

                    </div>
                    <div class="form-col mr-2 w-50">
                        <input type="number" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="ingresos" name="ingresos" placeholder="Ingresos" [(ngModel)]="workingInformation.ingresos" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <select class="form-control   border-top-0  border-left-0  border-right-0 border-primary  " id="lugarTrabajo" name="lugarTrabajo" title="Lugar De Trabajo" [(ngModel)]="workingInformation.lugarTrabajo" required>

                            <option *ngFor="let lugarDeTrabajo of lugaresDeTrabajo" value="{{lugarDeTrabajo}}">
                                {{lugarDeTrabajo}}</option>
                        </select>

                    </div>

                    <div class="form-col  w-50">
                        <input type="number" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " id="otrosIngresos" name="otrosIngresos" placeholder="Otros Ingresos" [(ngModel)]="workingInformation.otrosIngresos" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="empresa" name="empresa" placeholder="Empresa donde trabaja" [(ngModel)]="workingInformation.empresa" required>
                    </div>
                    <div class="form-col w-50">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="telefonoEmpresa" name="telefonoEmpresa" placeholder="Teléfono" [(ngModel)]="workingInformation.telefonoEmpresa" required>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" data-toggle="modal" data-target="#createModal" id="direccionOficina" name="direccionOficina" placeholder="Dirección de la Oficina "
                            [(ngModel)]="workingInformation.direccionOficina" required>
                    </div>
                    <div class="form-col mr-2 w-25">

                        <select class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="tipoOficina" name="tipoOficina" placeholder="Tipo de Oficina" [(ngModel)]="workingInformation.tipoOficina" required>

                            <option *ngFor=" let tipoDeOficina of tiposDeOficina" value="{{tipoDeOficina}}">
                                {{tipoDeOficina}}</option>
                        </select>

                    </div>
                    <div class="form-col mr-2 w-25">
                        <input type="text" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="telefonoOficina" name="telefonoOficina" placeholder="Teléfono Oficina" [(ngModel)]="workingInformation.telefonoOficina"
                            required>
                    </div>


                </div>


                <div class="form-row">

                    <button type="submit" class="loginButton font-weight-bold  mr-3 w-25" style="float:right;" [disabled]="!f.valid">Continuar</button>

                </div>


            </form>
        </div>


    </div>
</div>
<!-- Modal to create-->
<div #createModal class="modal fade " id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
    <div id="formModal" class="modal-dialog  w-100" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">!Estas muy cerca de ser parte de <strong>CREO</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="form" (ngSubmit)="registrarDireccion()" #f="ngForm" novalidate>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-col mr-5">

                            <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mr-4" name="calle" placeholder="Calle" [(ngModel)]="form.calle" required autocomplete="off">
                        </div>
                        <div class="form-col">

                            <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " name="carrera" placeholder="Carrera" [(ngModel)]="form.carrera" required autocomplete="off">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-col mr-5 ">

                            <input type="text" class="form-control mt-2  border-1 border-top-0  border-left-0  border-right-0 border-primary mr-4" name="barrio" placeholder="Barrio" [(ngModel)]="form.barrio" required autocomplete="off">
                        </div>
                        <div class="form-col">

                            <input type="text" class="form-control mt-2  border-1 border-top-0  border-left-0  border-right-0 border-primary " name="numeroVivienda" placeholder="Casa/Apto" [(ngModel)]="form.numeroVivienda" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="form-col  mt-3">
                            <img src="../../assets/img/googleMaps1.jpg" class="mr-5" alt="google maps" width="40%">
                            <button type="submit" class=" loginButton font-weight-bold   mt-5">Aceptar</button>
                        </div>



                    </div>

                </div>


            </form>
        </div>
    </div>
</div>